<%= simple_form_for(authentication) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.association :user %>
    <%= f.input :provider %>
    <%= f.input :uid %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
