<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% invitations.each do |invitation| %>
  <tr>
    <td><%= invitation.name %></td>
    <td><%= invitation.email %></td>
    <td><%= invitation.status %></td>
    <td><%= link_to 'Destroy', [room, invitation], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Invitation', new_room_invitation_path(room) %>
